<section class="about-our-rest">
  <div class="hero-container about-container">
    <p class="about-section-top">Amet minim mollit non</p>
    <h3 class="logo-h3">MIMIHO</h3>
    <ul class="about-rest-list">
      <li class="about-rest-first-item">
        <p class="about-section-first-p">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-rest-first-img"
          src="../img/about-our-restaurant/mobile/restaurant-interior-mobile.webp"
          alt=""
        />
      </li>
      <li class="about-rest-second-item">
        <p class="about-section-second-p">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <img
          class="about-rest-second-img"
          src="../img/about-our-restaurant/mobile/interior-chairs-mobile.webp"
          alt=""
        />
      </li>
    </ul>
    <div class="about-rest-gallery-wrap">
      <img
        class="about-rest-gallery-first-img"
        src="../img/about-our-restaurant/mobile/breakfast-mobile.webp"
        alt=""
      />
      <img src="../img/about-our-restaurant/mobile/tea-mobile.webp" alt="" />
    </div>
    <div class="switch-btn-wrap">
      <button type="button" class="switch-btn switch-btn-left">
        <svg class="switch-btn-image" width="29.91" height="16.83">
          <use href="./img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button type="button" class="switch-btn switch-btn-right">
        <svg class="switch-btn-image" width="29.91" height="16.83">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
