<section class="about-our-rest">
  <div class="hero-container about-container">
    <p class="about-section-top">Amet minim mollit non</p>
    <h3 class="logo-h3">MIMIHO</h3>
    <ul class="about-rest-list">
      <li class="about-rest-first-item">
        <p class="about-section-first-p">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture>
          <source
            srcset="
              ./img/about-our-restaurant/desktop/restaurant-interior-desktop.webp    1x,
              ./img/about-our-restaurant/desktop/restaurant-interior-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/tablet/restaurant-interior-tablet.webp    1x,
              ./img/about-our-restaurant/tablet/restaurant-interior-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/mobile/restaurant-interior-mobile.webp    1x,
              ./img/about-our-restaurant/mobile/restaurant-interior-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1023px)"
          />
          <img
            class="about-rest-first-img"
            src="./img/about-our-restaurant/restaurant-interior-desktop.jpg"
            alt="restourant interior"
          />
        </picture>
      </li>
      <li class="about-rest-second-item">
        <p class="about-section-second-p">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <picture class="about-rest-second-img">
          <source
            srcset="
              ./img/about-our-restaurant/desktop/interior-chairs-desktop.webp    1x,
              ./img/about-our-restaurant/desktop/interior-chairs-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/tablet/interior-chairs-tablet.webp    1x,
              ./img/about-our-restaurant/tablet/interior-chairs-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./img/about-our-restaurant/mobile/interior-chairs-mobile.webp    1x,
              ./img/about-our-restaurant/mobile/interior-chairs-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 1023px)"
          />
          <img
            src="./img/about-our-restaurant/interior-chairs-desktop.jpg"
            alt="restoraunt chairs"
          />
        </picture>
      </li>
    </ul>
    <div class="about-rest-gallery-wrap">
      <picture class="about-rest-gallery-first-img">
        <source
          srcset="
            ./img/about-our-restaurant/desktop/tea-desktop.webp    1x,
            ./img/about-our-restaurant/desktop/tea-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about-our-restaurant/tablet/tea-tablet.webp    1x,
            ./img/about-our-restaurant/tablet/tea-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/about-our-restaurant/mobile/tea-mobile.webp    1x,
            ./img/about-our-restaurant/mobile/tea-mobile@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <img
          src="./img/about-our-restaurant/tea-desktop.jpg"
          alt="tea on table"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/about-our-restaurant/desktop/breakfast-desktop.webp    1x,
            ./img/about-our-restaurant/desktop/breakfast-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/about-our-restaurant/tablet/breakfast-tablet.webp    1x,
            ./img/about-our-restaurant/tablet/breakfast-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./img/about-our-restaurant/mobile/breakfast-mobile.webp    1x,
            ./img/about-our-restaurant/mobile/breakfast-mobile@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1023px)"
        />
        <img
          src="./img/about-our-restaurant/breakfast-desktop.jpg"
          alt="breakfast on table"
        />
      </picture>

      <!-- <img
        class="about-rest-gallery-first-img"
        src="./img/about-our-restaurant/mobile/breakfast-mobile.webp"
        alt=""
      />
      <img src="./img/about-our-restaurant/mobile/tea-mobile.webp" alt="" /> -->
    </div>
    <div class="switch-btn-wrap">
      <button type="button" class="switch-btn switch-btn-left">
        <svg class="switch-btn-image" width="29.91" height="16.83">
          <use href="./img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button type="button" class="switch-btn switch-btn-right">
        <svg class="switch-btn-image" width="29.91" height="16.83">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
