<section class="details-of-our-hotel">
  <div class="hero-container details-container">
    <h3 class="logo-h3 details-hotel-h3">MIMIHO</h3>
    <p class="douh-p details-hotel-first-text">Готель</p>
    <p class="douh-p details-hotel-second-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="details-rest-gallery">
      <img
        class="hotel-details-image hotel-details-first-image"
        src="./img/hotel-details/desktop-room.jpg"
        alt=""
      />
      <img
        class="hotel-details-image hotel-details-second-image"
        src="./img/hotel-details/desktop-plate.jpg"
        alt=""
      />
      <img
        class="hotel-details-image hotel-details-third-image"
        src="./img/hotel-details/desktop-registration.jpg"
        alt=""
      />
    </div>
    <div class="switch-btn-wrap details-of-hotel-switch">
      <button type="button" class="switch-btn switch-btn-left">
        <svg class="switch-btn-image" width="29.91" height="16.83">
          <use href="./img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button type="button" class="switch-btn switch-btn-right">
        <svg class="switch-btn-image" width="29.91" height="16.83">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
    <ul class="hero-btn-list details-of-hotel-btn-list">
      <li class="hero-btn-item">
        <button
          type="button"
          class="hero-btn details-of-hotel-btn open-book-room-btn"
        >
          Забронювати номер
        </button>
      </li>
      <li class="hero-btn-item">
        <button
          type="button"
          class="hero-btn open-room-price-btn"
        >
          Переглянути ціни
        </button>
      </li>
    </ul>
  </div>
</section>
