<div
  class="room-booking-modal backdrop is-hidden"
  data-modal
  id="bookRoomModal"
>
  <div class="modal">
    <form class="room-booking-form">
      <button class="modal-close-button" data-modal-close>
        <svg width="24" height="24">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <b class="form-head">ЗАБРОНЮВАТИ НОМЕР</b>
      <div class="form-fields-wrap first-field-wrap">
        <div class="form-field">
          <label class="label" for="name">На кого забронювати номер?</label>
          <input type="text" name="name" id="name" placeholder="Ваше ім’я" />
        </div>
        <div class="form-field">
          <label class="label" for="tel">Номер телефону</label>
          <input
            type="tel"
            name="tel"
            id="tel"
            placeholder="+38 (___) ___-__-__"
          />
        </div>
      </div>
      <div class="form-field select-field">
        <label class="label" for="room-type">Категорія номеру</label>
        <select class="select-input" id="room-type" name="room-type">
          <option value="lux-for-two" selected>Двомісний люкс</option>
          <option value="number-for-two">Двомісний номер</option>
          <option value="number-for-three">Трьохмісний номер</option>
        </select>
        <span class="room-type-icon modal-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
          >
            <path
              fill="#C79002"
              d="M2.454 7.94a1.5 1.5 0 0 1 2.121 0L12 15.363l7.425-7.425a1.5 1.5 0 0 1 2.121 2.121l-8.485 8.486a1.5 1.5 0 0 1-2.121 0L2.454 10.06a1.5 1.5 0 0 1 0-2.12Z"
            />
          </svg>
        </span>
      </div>
      <div class="form-fields-wrap second-field-wrap">
        <div class="form-field">
          <label class="label" for="arriving-date">Дата заїзду</label>
          <input
            class="date svg-input"
            type="text"
            name="arriving-date"
            id="arriving-date"
            placeholder="Сьогодні"
          />
          <span class="arriving-date-icon modal-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
            >
              <path
                fill="#C79002"
                d="M2.454 7.94a1.5 1.5 0 0 1 2.121 0L12 15.363l7.425-7.425a1.5 1.5 0 0 1 2.121 2.121l-8.485 8.486a1.5 1.5 0 0 1-2.121 0L2.454 10.06a1.5 1.5 0 0 1 0-2.12Z"
              />
            </svg>
          </span>
        </div>
        <div class="form-field last-form-field">
          <label class="label" for="leaving-date">Дата заїзду</label>
          <input
            class="svg-input"
            type="text"
            name="leaving-date"
            id="leaving-date"
            placeholder="Сьогодні"
          />
          <span class="leaving-date-icon modal-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
            >
              <path
                fill="#C79002"
                d="M2.454 7.94a1.5 1.5 0 0 1 2.121 0L12 15.363l7.425-7.425a1.5 1.5 0 0 1 2.121 2.121l-8.485 8.486a1.5 1.5 0 0 1-2.121 0L2.454 10.06a1.5 1.5 0 0 1 0-2.12Z"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="modal-btn">
        <button class="modal-submit-btn book-room-submit-btn" type="submit">
          ОФОРМИТИ БРОНЮВАННЯ
        </button>
      </div>
    </form>
  </div>
</div>
