<section class="footer">
  <div class="footer-container">
    <a href="./index.html" class="social-link footer-logo">
      <svg class="footer-logo-icon">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="footer-wrap">
      <ul class="footer-menu">
        <li><a class="footer-nav-link" href="../index.html">Головна</a></li>
        <li><a class="footer-nav-link" href="../restaurant.html">Ресторан</a></li>
        <li><a class="footer-nav-link" href="../hotel.html">Готель</a></li>
      </ul>
      <ul class="footer-socials">
        <li class="footer-social-item">
          <a href="" class="footer-social-name">Instagram</a>
          <a href="" class="social-link">
            <svg width="22" height="22" class="social-link-icon">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-name">Facebook</a>
          <a href="" class="social-link">
            <svg width="20" height="20" class="social-link-icon">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="" class="footer-social-name">Telegram</a>
          <a href="" class="social-link">
            <svg width="19.5" height="17.51" class="social-link-icon">
              <use href="./img/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
