<section class="header">
  <div class="header-container">
    <a href="./index.html" class="social-link header-logo">
      <svg class="header-logo-icon">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="header-nav">
        <li class="nav-list">
          <a href="./restaurant.html" class="nav-link">Ресторан</a>
          <div class="header-tel-wrap">
            <a href="tel:+380955559533" class="social-link">
              <svg width="12px" height="19.9px" class="header-phone-icon">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg>
            </a>
            <a href="tel:+380955559533" class="header-tel"> 095 555 95 33</a>
          </div>
        </li>
        <li class="nav-list">
          <a href="./hotel.html" class="nav-link">Готель</a>
          <div class="header-tel-wrap">
            <a href="tel:+380668491089" class="social-link">
              <svg width="12px" height="19.9px" class="header-phone-icon">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg>
            </a>
            <a href="tel:+380668491089" class="header-tel"> 066 849 10 89</a>
          </div>
        </li>
      </ul>
    </nav>
    <ul class="header-hero-socials">
      <li class="numbers-social-item">
        <a href="" class="social-link">
          <svg width="22" height="22" class="social-link-icon">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="numbers-social-item">
        <a href="" class="social-link">
          <svg width="20" height="20" class="social-link-icon">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="numbers-social-item">
        <a href="" class="social-link">
          <svg width="19.5" height="17.51" class="social-link-icon">
            <use href="./img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
