.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  height: 100%;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  width: 100%;
  position: absolute;
  justify-content: center;
  height: 64px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tel {
  display: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);

  letter-spacing: 0.02em;

  color: #ffffff;
}

.nav-link {
  display: inline-block;
  margin-right: 12px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);

  letter-spacing: 0.02em;

  color: #f3c653;
}

.header-logo-icon {
  fill: #ffffff;
  width: 114px;
  height: 39px;
}

.header-hero-socials {
  display: none;
}

.header-phone-icon {
  fill: #f3c653;
}

@media screen and (min-width: 414px) {
  .header-container {
    width: 414px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .header-tel {
    display: inline-block;
  }
  .header-tel-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 144px;
    height: 40px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
  .nav-list {
    gap: 32px;
  }
  .header-nav {
    gap: 72px;
  }
  .header-logo-icon {
    width: 127px;
    height: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .header-hero-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }
}
