<!-- Hero restaurant -->
<section class="rest-hero">
  <div class="hero-container">
    <span class="social-link hero-logo">
      <svg class="hero-logo-icon">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </span>
    <p class="hero-text hero-text-first">Ресторанно-готельний комплекс</p>
    <p class="hero-text hero-text-second">СМАК ЖИТТЯ 24/7</p>

    <div class="main-hero-wrap">
      <div class="hero-numbers-adress">
        <a
          href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463?hl=uk"
          target="_blank"
          rel="noreferrer noopener"
          class="social-link"
        >
          <svg width="10px" height="15.99px" class="location-icon-room">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
        </a>
        <address>
          <a
            href="https://www.google.com.ua/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D1%96%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m5!3m4!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463?hl=uk"
            target="_blank"
            rel="noreferrer noopener"
            class="adress-text"
          >
            Україна, м. Полтава,<br />
            вул. Маршала Бірюзова, 15
          </a>
        </address>
      </div>

      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <button
            type="button"
            class="hero-btn open-book-table-btn"
          >
            Забронювати столик
          </button>
        </li>
        <li class="hero-btn-item">
          <button
            onclick="window.location.href = '#menu';"
            type="button"
            class="hero-btn"
          >
            Переглянути меню
          </button>
        </li>
      </ul>
    </div>
    <ul class="hero-socials">
      <li class="hero-social-item">
        <a href="" class="social-link">
          <svg width="22" height="22" class="social-link-icon">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="" class="social-link">
          <svg width="20" height="20" class="social-link-icon">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-item">
        <a href="" class="social-link">
          <svg width="19.5" height="17.51" class="social-link-icon">
            <use href="./img/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
