<section class="rest-menu" id="menu">
  <div class="hero-container">
    <h2 class="menu-title">Меню ресторану</h2>
    <div class="menu-wrap">
      <div class="half-menu">
        <table>
          <caption class="menu-block">
            Гарячі страви
          </caption>
          <tr class="menu-raw">
            <td class="dish-data">
              Борщ з телятини з квасолею
              <span class="ingredients"
                >Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана</span
              >
            </td>
            <td class="dish-weight">400 г</td>
            <td class="dish-price">240 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Суп сирний з куркою
              <span class="ingredients"
                >Курятина, картопля, морква, цибуля, печериці, сир м’який,
                зелень</span
              >
            </td>
            <td class="dish-weight">400 г</td>
            <td class="dish-price">200 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Паста карбонара
              <span class="ingredients"
                >Паста тальятеле, бекон, вершки, сир пармезан, яйце,
                зелень</span
              >
            </td>
            <td class="dish-weight">350 г</td>
            <td class="dish-price">430 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Стейк зі свинини
              <span class="ingredients"
                >Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами</span
              >
            </td>
            <td class="dish-weight">400 г</td>
            <td class="dish-price">500 грн</td>
          </tr>
          <tr class="menu-raw last-raw">
            <td class="dish-data">
              Горбуша в соусі з білого вина
              <span class="ingredients"
                >Ніжна горбуша, вершковий соус на основі білого вина</span
              >
            </td>
            <td class="dish-weight">400 г</td>
            <td class="dish-price">400 грн</td>
          </tr>
        </table>

        <table>
          <caption class="menu-block">
            Гарніри та закуски
          </caption>
          <tr class="menu-raw">
            <td class="dish-data">
              Запечені овочі
              <span class="ingredients"
                >Кабачок, перець, помідор, баклажан</span
              >
            </td>
            <td class="dish-weight">200 г</td>
            <td class="dish-price">230 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Картопля фрі
              <span class="ingredients">Картопля, соус томатний</span>
            </td>
            <td class="dish-weight">150 г</td>
            <td class="dish-price">160 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Картопля по-селянськи
              <span class="ingredients">Картопля, спеції, соус пікантний</span>
            </td>
            <td class="dish-weight">150 г</td>
            <td class="dish-price">160 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Хрумкі соління з бочки
              <span class="ingredients"
                >Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські</span
              >
            </td>
            <td class="dish-weight">250 г</td>
            <td class="dish-price">350 грн</td>
          </tr>
          <tr class="menu-raw last-raw">
            <td class="dish-data">
              Крильця курячі в медовому соусі
              <span class="ingredients"
                >Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз</span
              >
            </td>
            <td class="dish-weight">400 г</td>
            <td class="dish-price">400 грн</td>
          </tr>
        </table>
      </div>

      <div class="half-menu">
        <table>
          <caption class="menu-block">
            Салати
          </caption>
          <tr class="menu-raw">
            <td class="dish-data">
              Цезар з куркою
              <span class="ingredients"
                >Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар</span
              >
            </td>
            <td class="dish-weight">230 г</td>
            <td class="dish-price">450 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Цезар з креветками
              <span class="ingredients"
                >Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар</span
              >
            </td>
            <td class="dish-weight">230 г</td>
            <td class="dish-price">300 грн</td>
          </tr>
          <tr class="menu-raw">
            <td class="dish-data">
              Грецький салат
              <span class="ingredients"
                >Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус</span
              >
            </td>
            <td class="dish-weight">230 г</td>
            <td class="dish-price">280 грн</td>
          </tr>
          <tr class="menu-raw last-raw">
            <td class="dish-data">
              М’ясний салат
              <span class="ingredients"
                >Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч</span
              >
            </td>
            <td class="dish-weight">230 г</td>
            <td class="dish-price">300 грн</td>
          </tr>
        </table>

        <table>
          <caption class="menu-block">
            Десерти
          </caption>
          <tr class="menu-raw-second">
            <td class="dish-data">Торт наполеон</td>
            <td class="dish-weight">230 г</td>
            <td class="dish-price">300 грн</td>
          </tr>
          <tr class="menu-raw-second">
            <td class="dish-data">Торт маковий</td>
            <td class="dish-weight">230 г</td>
            <td class="dish-price">300 грн</td>
          </tr>
          <tr class="menu-raw-second last-raw">
            <td class="dish-data">Тірамісу</td>
            <td class="dish-weight">120 г</td>
            <td class="dish-price">260 грн</td>
          </tr>
        </table>

        <table class="last-table">
          <caption class="menu-block">
            Напої
          </caption>
          <tr class="menu-raw-second">
            <td class="dish-data">Чай чорний/зелений</td>
            <td class="dish-weight">500 мл</td>
            <td class="dish-price">100 грн</td>
          </tr>
          <tr class="menu-raw-second">
            <td class="dish-data">Еспресо</td>
            <td class="dish-weight">30 мл</td>
            <td class="dish-price">100 грн</td>
          </tr>
          <tr class="menu-raw-second">
            <td class="dish-data">Американо</td>
            <td class="dish-weight">150 мл</td>
            <td class="dish-price">100 грн</td>
          </tr>
          <tr class="menu-raw-second">
            <td class="dish-data">Капучино</td>
            <td class="dish-weight">200 мл</td>
            <td class="dish-price">160 грн</td>
          </tr>
          <tr class="menu-raw-second last-raw">
            <td class="dish-data">Лате</td>
            <td class="dish-weight">200 мл</td>
            <td class="dish-price">160 грн</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="menu-btn-item">
      <button
        type="button"
        class="menu-btn open-book-table-btn"
      >
        Забронювати столик
      </button>
    </div>
  </div>
</section>
