.table-booking-form {
  position: relative;
  width: 414px;
  height: 648px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 15px;
  background: #fffdee;
  border-radius: 2px;
  z-index: 2;
}

.person-amount-icon {
  top: 341.5px;
}

.booking-date-icon {
  top: 443.5px;
}

.modal-submit-btn {
  width: 384px;
  height: 64px;

  background: #000000;

  border: 1px solid #f3c653;
  border-radius: 2px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);

  color: #ffffff;
}

.table-select {
  height: 54px;
}

@media screen and (min-width: 1024px) {
  .table-booking-form {
    width: 712px;
    height: 520px;
    padding: 60px;
  }

  .person-amount-icon {
    top: 282.5px;
    right: 385.03px;
  }

  .booking-date-icon {
    top: 282.5px;
  }

  .table-select {
    height: 64px;
  }
}
